<header class="site-header">
    <div class="dropdown">
        <button class="dropbtn"><i class="fa fa-bars" aria-hidden="true"></i></button>
        <div class="dropdown-content">
            <a href="{{ site.github.url }}/">Top</a>
            <a href="#abs">Abstract</a>
            <a href="#featured">Highlights</a>
            <a href="#acknowlege">Acknowledgment</a>
            <a href="https://github.com/leggedrobotics/learning_locomotion_over_challening_terrain_supplementary"
               class="menu-link">
                <i class="fa fa-github" aria-hidden="true"></i></a>
        </div>
    </div>

<!--    <div class="site-title">-->
<!--        <a href="{{ site.github.url }}/">{{ site.title }}</a>-->
<!--    </div>-->

    <nav class="menu-list">

        <button class="dropbtn">
            <a href="https://arxiv.org/abs/2010.11251">
                <i class="fa fa-file-pdf-o"></i>
            </a>
        </button>
    </nav>

</header>
